<ion-content style="margin-top:20px;">
	<div style="padding-top: 40px">
	<ion-grid *ngIf="table != null" style="height: 700px;">
		<ion-row>
			<ion-col class="colNames"><p style="font-size: 15px;font-weight: bold;text-align: center">{{'Medida' | translate}}</p></ion-col>
			<ion-col class="colValues" *ngFor="let day of dates"><p style="font-size: 15px;text-align: center">{{day}}</p></ion-col>
		</ion-row>
		<ion-row *ngFor="let medida of table.measures">
			<ion-col class="colNames"><p style="font-size: 15px;font-weight: bold;text-align: center">{{medida.name | translate}}</p></ion-col>
			<ion-col class="colValues" *ngFor="let medicion of medida.measures"><p style="font-size: 15px;text-align: center">{{medicion.measure}}cm {{'Altura' | translate}}: {{medicion.height}}cm</p></ion-col>
		</ion-row>
		<ion-row>
			<button ion-button (click)="nuevaMedicion()" *ngIf="isInstructor()"> {{'Agregar Medicion' | translate}}</button>
			<button ion-button (click)="atras()" *ngIf="isInstructor()">Atras</button>

		</ion-row>
	</ion-grid>
</div>
	

</ion-content>
