page-tabla-medicion-alumno {

.colNames{
	background-color: #E3F2FD;
    border: 1px solid black;
}

.colValues{
	background-color: twitter;
    border: 1px solid black;
}

p {
    font-family: 'Poppins', sans-serif;
}

ion-label {
    font-family: 'Poppins', sans-serif;
}
div{
    font-family: 'Poppins', sans-serif;
}
a{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
}

}
