<div class="form-group container" style="padding-top: 20px;">
  <div>
    <span *ngFor="let dia of dias">
    <input class="single-checkbox" type="checkbox" [(ngModel)]="dia.checked" (change)="check(dia)" [disabled]="limit(dia)"> {{dia.day}}
  </span>
  </div>

  <div *ngIf="diasElegidos.length > 0">
    <div *ngFor="let diaElegido of diasElegidos">
      {{diaElegido.day}}
    <select [(ngModel)]="diaElegido.startHour" (change)="horaSeleccionada($event.target.value,diaElegido)">
      <option *ngFor="let hora of horas">{{hora}}</option>
    </select>

  </div>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <input disabled  type="number" class="form-control" id="inputClases" aria-describedby="errorClases" placeholder="4" min="1" formControlName="clases" [class.invalid]="form.controls['clases'].invalid && form.controls['clases'].dirty">
      <small id="errorClases" *ngIf="form.controls['clases'].invalid && form.controls['clases'].dirty" class="form-text text-muted" style="color: red">Debe ingresar un numero de clases a asignar</small>
    </div>
    <!--
    <div class="form-group">
      <label class="form-control" for="inputDate">Ingrese fecha de inicio</label>
      <input type="date" class="form-control" id="inputDate">
    </div>
-->
    <button type="submit" [disabled]="(!form.valid)" class="btn btn-success">{{'Agregar' | translate}}</button>
    <button class="btn btn-danger" routerLink="/alumnos">{{'Cancelar' | translate }}</button>
  </form>
  
</div>





