<div class="form-group container" style="padding-top: 20px;">
  <div style="height: 1px;width: 1px;color: red"></div> {{'No disponible' | translate}}
  <div class="row">
  <div class="col-md" *ngFor="let dia of dias" style="border: 1px solid black">
  <div class="form-check">
    <span >
    <p [style.color]="dia.available ? 'green':'red'">{{dia.day |translate}}</p>
    <input class="single-checkbox" type="checkbox" [(ngModel)]="dia.checked" (change)="check(dia)" [disabled]="(!dia.available) || limit(dia)">
  </span>
</div>
  </div>
</div>

  <div *ngIf="diasElegidos.length > 0">
    <div *ngFor="let diaElegido of diasElegidos">
    <p> {{diaElegido.day |translate}} </p>
    <div *ngIf="diaElegido.availableHours == undefined && diaElegido.startHour != ''">
        <p> {{diaElegido.startHour}} a {{diaElegido.endHour}}</p>
    </div>
    
    <span *ngFor="let horasDisp of diaElegido.availableHours">
    <select class="custom-select" [(ngModel)]="diaElegido.startHour" (change)="horaSeleccionada($event.target.value,diaElegido)">
        <option *ngFor="let hora of horasDisp">{{hora}}</option>      
    </select>
  </span>

  </div>
  </div>
  <br>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label class="form-control" for="inputClases">{{'Cantidad de clases' | translate}}</label>
      <input disabled type="number" class="form-control" id="inputClases" aria-describedby="errorClases" placeholder="0" min="1" formControlName="clases" [class.invalid]="form.controls['clases'].invalid && form.controls['clases'].dirty">
      <small id="errorClases" *ngIf="form.controls['clases'].invalid && form.controls['clases'].dirty" class="form-text text-muted" style="color: red">Debe ingresar un numero de clases a asignar</small>
    </div>
    
<p *ngIf="!puedeGuardar" style="color: red">{{'Su mes todavia esta en vigencia' | translate}}</p>
    <button type="submit" [disabled]="(!form.valid) || !puedeGuardar || !validHours()" class="btn btn-success">{{'Agregar' | translate}}</button>
    <button class="btn btn-danger" routerLink="/alumnos">{{'Cancelar' | translate }}</button>
  </form>
  
  <ngx-spinner  
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#1565C0"
    loadingText="Cargando..."
    type="ball-pulse">
  </ngx-spinner>

</div>





