<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <img width="150" alt="Logo GestionFit" src="assets/icon.png">

  <form *ngIf="!registerBool" (ngSubmit)="onSubmit()" [formGroup]="rfidForm">
    <div class="form-group">
      <label for="rfidInput">Rfid</label>
      <input type="text" class="form-control" id="rfidInput" aria-describedby="rfidHelp" placeholder="00000000" #rfidInput (focus)="onFocus()" (blur)="onBlur()"  formControlName="rfid">
      <small id="rfidHelp" class="form-text text-muted" *ngIf="focused">Ya puede pasar su llevero/tarjeta</small>
    </div>
    <button class="btn btn-primary" type="submit">Ingresar</button>
    <div *ngIf="errorAssist" class="alert alert-danger" role="alert">
      {{errorAssistMessage}}
      <button type="button" class="close" (click)="errorAssist = false" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>

  <form *ngIf="registerBool" [formGroup]="registerForm" (ngSubmit)="saveRfid()">
    <div class="form-group">
      <label for="mailInput">Registre un llavero/tarjeta a un alumno y/o agregue clases al momento del pago</label>
      <input type="text" class="form-control" id="mailInput" aria-describedby="mailHelper" placeholder="carlos@gmail.com" formControlName="mail" [class.invalid]="registerForm.controls['mail'].invalid">
      <small id="mailHelper" *ngIf="registerForm.controls['mail'].invalid"></small>
     
      <label for="rfidInput2">Rfid</label>
      <input type="text" class="form-control" id="rfidInput2" aria-describedby="rfidHelper" placeholder="00000000" #rfidInputRegister (focus)="onFocus()" (blur)="onBlur()"  formControlName="rfid">
      <small id="rfidHelper" *ngIf="focused">Puede pasar el llavero/tarjeta ahora</small>
      <br>
      <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#modalRegistrar">Registrarse</button>
      <br>
      <label for="lessonsInput">Agrega clases <strong>(* requiere campo mail completo)</strong></label>
      <input type="number" class="form-control" id="lessonsInput" placeholder="5" formControlName="lessons">
      <br>
      
      <button class="btn btn-primary" (click)="addLessons()" data-toggle="modal" data-target="#modalClases">Agregar clases</button>
      <div *ngIf="errorRegister" class="alert alert-danger" role="alert">
        {{errorRegisterMessage}}
        <button type="button" class="close" (click)="errorRegister = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="successAlert" class="alert alert-success" role="alert">
        {{successAlertMessage}}
        <button type="button" class="close" (click)="successAlert = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </form>
  <br>
  <label>Primera vez en el gimnasio?</label>
  <input type="checkbox" [(ngModel)]="registerBool">

  <div class="row" style="padding-top: 30px">
    <div class="col-md" style="height: 100px">
      <img [src]="user.photo" style="min-width: 50px;min-height: 50px;max-width: 150px;max-height: 150px;">
    </div>
    <div class="col-md">
      <h3>Nombre: {{user.nameAndSurname}}</h3>
      <h3>Clases restantes: {{user.remainingLessons}}</h3>
      <h3>Id: {{user.rfid}}</h3>
    </div>
  </div>
<!--
  <div ng-hide="errorRegister" class="modal fade" id="modalClases" tabindex="-1" role="dialog" aria-labelledby="modalClasesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalClasesTitle">Confirmacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ha agregado clases</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="errorRegister" class="modal fade" id="modalRegistrar" tabindex="-1" role="dialog" aria-labelledby="modalRegistrarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegistrarTitle">Confirmacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ya ha registrado su rfid, desea cerrar y agregar clases o ingresar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="clearForm()" class="btn btn-primary" data-dismiss="modal">Ingresar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
-->

</div>


