<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <img width="150" alt="Logo GestionFit" src="assets/icon.png">
<div class="row" style="padding-bottom: 30px;padding-left: 20px;padding-right: 20px">
  <div class="col-md-8">
    <form *ngIf="!registerBool" (ngSubmit)="onSubmit()" [formGroup]="rfidForm">
      <div class="form-group">
        <label for="rfidInput">Rfid</label>
        <input type="text" class="form-control" id="rfidInput" aria-describedby="rfidHelp" placeholder="00000000" #rfidInput (focus)="onFocus()" (blur)="onBlur()"  formControlName="rfid">
        <small id="rfidHelp" class="form-text text-muted" *ngIf="focused">Ya puede pasar su llevero/tarjeta</small>
      </div>
      <button class="btn btn-primary" type="submit">Ingresar</button>
      <div *ngIf="errorAssist" class="alert alert-danger" role="alert">
        {{errorAssistMessage}}
        <button type="button" class="close" (click)="errorAssist = false" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </form>
    <div *ngIf="registerBool">
      <form  [formGroup]="registerForm" (ngSubmit)="saveRfid()">
        <div class="form-group">
          <label for="mailInput">Registre un llavero/tarjeta a un alumno y/o agregue clases al momento del pago</label>
          <input type="text" class="form-control" id="mailInput" aria-describedby="mailHelper" placeholder="carlos@gmail.com" formControlName="mail" [class.invalid]="registerForm.controls['mail'].invalid">
          <small id="mailHelper" *ngIf="registerForm.controls['mail'].invalid"></small>
     
          <label for="rfidInput2">Rfid</label>
          <input type="text" class="form-control" id="rfidInput2" aria-describedby="rfidHelper" placeholder="00000000" #rfidInputRegister (focus)="onFocus()" (blur)="onBlur()"  formControlName="rfid">
          <small id="rfidHelper" *ngIf="focused">Puede pasar el llavero/tarjeta ahora</small>
          <br>
          <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#modalRegistrar">Registrarse</button>
        </div>
      </form>
      <br>
      <label>Agrega clases <strong>(* requiere campo mail completo)</strong></label>
      <button class="btn btn-primary" (click)="buscarUsuario()">Buscar</button>
      <div class="row" *ngIf="usuarioEncontrado">
        <div class="col-md" *ngFor="let dia of dias" style="border: 1px solid black">
          <div class="form-check">
            <span >
            {{dia.day}}
            <br>
            <input class="single-checkbox" type="checkbox" [(ngModel)]="dia.checked" (change)="check(dia)" [disabled]="limit(dia)">
            </span>
          </div>
        </div>
      </div>
      
      <div *ngIf="diasElegidos.length > 0">
        <div *ngFor="let diaElegido of diasElegidos">
          {{diaElegido.day}}
          <select class="custom-select" [(ngModel)]="diaElegido.startHour" (change)="horaSeleccionada($event.target.value,diaElegido)">
            <option *ngFor="let hora of horas">{{hora}}</option>
          </select>
        </div>
      </div>
        <br>
      
      <form [formGroup]="form">
        <div class="form-group">
          <label class="form-control" for="inputClases">Cantidad de clases</label>
          <input disabled type="number" class="form-control" id="inputClases" aria-describedby="errorClases" placeholder="0" min="1" formControlName="clases" [class.invalid]="form.controls['clases'].invalid && form.controls['clases'].dirty">
          <small id="errorClases" *ngIf="form.controls['clases'].invalid && form.controls['clases'].dirty" class="form-text text-muted" style="color: red">Debe ingresar un numero de clases a asignar</small>
        </div>
        <p *ngIf="!puedeGuardar" style="color: red">Su mes todavia esta en vigencia</p>
          <button (click)="guardarClases()" [disabled]="(!form.valid) || !puedeGuardar || !validHours()" class="btn btn-success">{{'Agregar'}}</button>
      </form>
      
      <div *ngIf="errorRegister" class="alert alert-danger" role="alert">
        {{errorRegisterMessage}}
        <button type="button" class="close" (click)="errorRegister = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="successAlert" class="alert alert-success" role="alert">
        {{successAlertMessage}}
        <button type="button" class="close" (click)="successAlert = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  
  <br>
  <label>Primera vez en el gimnasio?</label>
  <input type="checkbox" [(ngModel)]="registerBool">
  </div>

  <div class="col-md-3">
  <div class="card" style="width: 18rem;padding-top: 30px">
    <img class="card-img-top" [src]="user.photo" alt="Imagen usuario">
    <div class="card-body">
      <h5 class="card-title">Nombre: {{user.nameAndSurname}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Clases restantes: {{user.remainingLessons }}</li>
      <li class="list-group-item">Fecha de pago: {{user.paymentDate | date: 'dd/MM/yyyy'}}</li>
      <li class="list-group-item">Fecha de vencimiento: {{user.lessonsExpires | date: 'dd/MM/yyyy'}}</li>
    </ul>
  </div>
  </div>

</div>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  loadingText="Cargando..."
  type="ball-pulse">
</ngx-spinner>


</div>


