<ion-content>
	<div style="height: 150px">
	<img [src]="user.photo" style="max-height: 100px;max-width: 100px;">
	<ion-grid style="font-family: 'Poppins' , sans-serif">
	<ion-row>
		<a [routerLink]="" (click)="editarUsuario()">{{'Editar informacion' | translate}}</a>
	</ion-row>
	<ion-row>
	  <ion-col>
		<p> {{'Nombre' | translate}}: <p> {{user.nameAndSurname}}</p>
	  </ion-col>
	  <ion-col>
		<p> {{'Edad' | translate}}:</p><p> {{user.age}} </p>
	  </ion-col>
	  <ion-col>
		<p> {{'Telefono' | translate}}:</p><p>{{formatearTelefono(user.telephone)}}</p>
	  </ion-col>
	</ion-row>
	<ion-row>
	  <ion-col>
		<p> {{'Peso' | translate}}: </p><p> {{user.weigth.toString().replace('.',',')}} kg.</p>
	  </ion-col>
	  <ion-col>
		<p> {{'Objetivo' | translate}}:</p><p> {{user.objective}}</p><p *ngIf="user.objective == ''" > {{'No definido' | translate}}</p>
	  </ion-col>
	  <ion-col>
		<p> {{'Patologias' | translate}}:</p><p>{{user.pathologies}}</p><p *ngIf="user.pathologies == ''" > {{'No definido' | translate}}</p>
	  </ion-col>
	</ion-row>
	</ion-grid>
</div>
	<div style="padding-bottom: 50px;padding-top: 180px">
		<h2>{{'Mis rutinas' | translate}}</h2>
	<ion-list>
	  <ion-item *ngFor="let rutina of user.routines" style="padding-bottom: 90px">
		{{rutina.name}} 
		<a (click)="abrirInfo(rutina.id)" item-right><ion-icon name="information-circle"></ion-icon></a>
	  </ion-item>
	  <div *ngIf="sinRutinas()">
		<ion-item>
		  <h3>{{'No tiene ninguna rutina asignada' | translate}}</h3>
		</ion-item>
	  </div>
	</ion-list>
</div>
</ion-content>