  <ion-header>
	<ion-navbar>
		<ion-buttons>
			<button (click)="cancel()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		
	</ion-navbar>
</ion-header>
<ion-content padding>

	<ion-list inset>
		<ion-item>
			<img [src]="alumno.photo" style="max-height: 100px;max-width: 100px;">
		</ion-item>
		<ion-item>
			<p>{{'Usuario' | translate}}: <strong>{{alumno.username}}</strong></p>	
		</ion-item>
		<ion-item>
			<p> {{'Contraseña' | translate}}: <strong>{{alumno.password}}</strong> </p>
		</ion-item>
		<ion-item>
			<p> Mail: <strong>{{alumno.mail}}</strong> </p>
		</ion-item>
		<ion-item>
			<p> {{'Patologias' | translate}}: <strong> {{alumno.pathologies}} </strong></p><p *ngIf="alumno.pathologies == ''" > <strong> {{'No definido' | translate}} </strong></p>
		</ion-item>
		<ion-item>
			<p> {{'Observaciones' | translate}}: <strong> {{alumno.observations}} </strong> </p><p *ngIf="alumno.observations == ''" > <strong> {{'No definido' | translate}} </strong></p>
		</ion-item>
		<ion-item>
			<p> {{'Objetivo' | translate}}: <strong>{{alumno.objective}}</strong> </p>
		</ion-item>
		<ion-item>
			<p> {{'Cumpleaños' | translate}}: <strong>{{alumno.birthday | date:'dd/MM/yyyy'}}</strong> </p>
		</ion-item>
		<ion-item>
			<p> {{'Telefono' | translate}}: <strong>{{alumno.telephone}}</strong> </p>
		</ion-item>
		<ion-item>
			<p> {{'Edad' | translate}}: <strong>{{alumno.age}}</strong> </p>
		</ion-item>
		<ion-item>
			<p> {{'Peso' | translate}}: <strong>{{alumno.weigth}}</strong> </p>
		</ion-item>
	</ion-list>
</ion-content>
