<div class="container" style="padding-top: 35px;">
  
  <div>
      <h1 style="text-align: center">{{'Rutinas asignadas' | translate}}</h1>
      <div *ngIf="!tieneRutinas">El usuario no posee rutinas asignadas</div>
      <ul class="list-group" *ngIf="tieneRutinas">
        <li class="list-group-item" *ngFor="let rutinaAl of rutinaAlumno">
          {{rutinaAl.name}}
        </li>
        
      </ul>
  </div>
  
  <div>
  <h1 style="text-align: center">{{'Asignar rutinas' | translate}}</h1>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let rutina of rutinas">
      <div class="d-flex justify-content-between align-items-center">{{rutina.name}} <span><a [routerLink]="" (click)="agregarRutina(rutina)"><i class="fas fa-plus"></i> {{'Agregar' | translate}}</a></span></div>
    </li>
    
  </ul>
</div>
  <div class="flex" style="padding-top: 25px;">
      <button class="btn btn-success" (click)="guardarRutinasAlumno()"> {{'Guardar' | translate}} </button>
      <button class="btn btn-danger" (click)="volverAtras()"> {{'Cancelar' | translate}} </button>
  </div>  
</div>