<div class="container" style="padding-top: 35px;">
  
  <div>
      <h1 style="text-align: center">{{'Rutinas asignadas' | translate}}</h1>
      <div *ngIf="!tieneRutinas">El usuario no posee rutinas asignadas</div>
      <ul class="list-group" *ngIf="tieneRutinas">
        <li class="list-group-item" *ngFor="let rutinaAl of rutinaAlumno;let i = index">
          <div class="d-flex justify-content-between align-items-center">
            {{rutinaAl.name}} <a data-toggle="collapse" href="#{{i}}" role="button" aria-expanded="false" aria-controls="collapseEjercicios"><i class="fas fa-chevron-down"></i></a>
          </div>
          <div class="collapse" id="{{i}}">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let ejercicio of rutinaAl.exercises">{{ejercicio.name}}</li>
            </ul>
          </div>
        </li>
        
      </ul>
  </div>
<div style="margin-top:20px;padding-bottom:30px">
  <div class="form-check" >
      <input class="form-check-input" type="radio" [(ngModel)]="nuevaRutina" name="options" id="asignar" [value]="false" checked>
      <label class="form-check-label" for="asignar">
        Asignar rutina generica
      </label>
  </div>
  <div class="form-check">
      <input class="form-check-input" type="radio"  [(ngModel)]="nuevaRutina" name="options" id="nueva" [value]="true">
      <label class="form-check-label" for="nueva">
        Crear nueva rutina personalizada
      </label>
      
  </div>
  </div>
  <!-- Ordenar bien posicion de elementos -->
  <div *ngIf="!nuevaRutina" style="border: 5px solid grey;padding: 5px">
    <h1 style="text-align: center">{{'Asignar rutinas' | translate}}</h1>
    <div class="form-inline md-form form-sm active-cyan-2">
      <input class="form-control form-control-sm mr-3 w-75" type="text" [(ngModel)]="searchText" placeholder="{{'Buscar' | translate}}" aria-label="Search">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <br>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let rutina of rutinas | rutinasEjerciciosFilter : searchText | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index;">
        <div class="row">
          <div class="col-md-6">{{rutina.name}}</div> 
          <div class="col-md-3">
            <span><a [routerLink]="" (click)="agregarRutina(rutina)"><i class="fas fa-plus"></i> {{'Agregar' | translate}}</a></span>
          </div>
          <div class="col-md-3">
              <a data-toggle="collapse" href="#rutina{{i}}" role="button" aria-expanded="false">Editar</a>
          </div>
          </div>
            <div class="collapse" id="rutina{{i}}">
          
          <app-nueva-rutina-asignar #edit [rutinaAEditar]="rutina"></app-nueva-rutina-asignar>
          <button class="btn btn-primary" data-toggle="collapse" [disabled]="!isValidRoutine(i)" attr.data-target="#rutina{{i}}" (click)="agregarRutinaEditada(i)" >Agregar</button>
        </div>
      </li>
    
    </ul>
    <br>
    <pagination-controls class="my-pagination" autoHide="true" previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}}" (pageChange)="p = $event"></pagination-controls>
  </div>

  <div *ngIf="nuevaRutina" style="border: 1px solid grey;padding: 10px">
    <h1 style="text-align: center">{{'Nueva rutina personalizada' | translate}}</h1>
    <app-nueva-rutina-asignar></app-nueva-rutina-asignar>
    <button class="btn btn-primary" [disabled]="!rutinaComponent.form.valid" (click)="agregarRutinaNueva()" style="margin-top:30px">Agregar nueva rutina</button>
  </div>

  <div class="flex" style="padding-top: 25px;padding-bottom: 25px">
      <button class="btn btn-success" (click)="guardarRutinasAlumno()"> {{'Guardar' | translate}} </button>
      <button class="btn btn-danger" (click)="volverAtras()"> {{'Cancelar' | translate}} </button>
  </div>  

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#1565C0"
    loadingText="Cargando..."
    type="ball-pulse">
  </ngx-spinner>

</div>