<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title mode='ios'>
      <div style=" height: 100%;display: inline;vertical-align: middle;"><p style="font-size: 20px;font-family: 'Times New Roman', Times, serif;" *ngIf="isBrowser"><img src="assets/imgs/icon.png" height="30px" width="35px"> GestionFit</p></div>
    </ion-title>
        <ion-buttons end>
      <button ion-button icon-only (click)="home()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-menu persistent="true" swipeEnabled="false" [content]="content" *ngIf="logged()">

  <ion-content>
    <ion-list>
      <button ion-item (click)="home()">
        {{'Inicio' | translate}}
      </button>
      <button ion-item (click)="openPage('alumnos')" *ngIf="isInstructor()">
        {{'Alumnos' | translate}}
      </button>
      <button ion-item *ngIf="isInstructor()">
        {{'Rutinas' | translate}}
      </button>
      <!--
      <button ion-item (click)="changeLang('es')">
        {{'Español' | translate}}
      </button>
      <button ion-item (click)="changeLang('en')">
        {{'Ingles' | translate}}
      </button>
  -->
  	  <button ion-item (click)="logout()">
  	  	LogOut
  	  </button>
      <button ion-item menuToggle>
        {{'Cerrar' | translate}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" class="headerContent" #content [root]="rootPage" [rootParams]="rootPageParams"></ion-nav>
