<div class="container" style="padding-top: 35px;">
  <h1 style="text-align: center;font-family: Poppins, sans-serif;font-weight: 400;"><i class="fas fa-file-alt"></i> {{'Ejercicios' | translate}}</h1>
  <div class="form-inline md-form form-sm active-cyan-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" [(ngModel)]="searchText" placeholder="{{'Buscar' | translate}}" aria-label="Search">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let exercise of exercises | rutinasEjerciciosFilter : searchText | paginate: { itemsPerPage: 10, currentPage: p }" style="font-size: 25px;font-family: Poppins, sans-serif;">
      {{exercise.name}}
      <span>
      <a [routerLink]="" (click)="infoExercise(exercise.id)">
          <span class="badge badge-light badge-pill" style="color: #1565C0">
            <i class="fas fa-info pull-right"></i>
          </span>
      </a>
      <a [routerLink]="" (click)="editExercise(exercise.id)">
          <span class="badge badge-light badge-pill"  style="color: #1565C0">
            <i class="far fa-edit pull-right"></i>
          </span>
      </a>
      <a [routerLink]="" (click)="seleccionar(exercise)" data-toggle="modal" data-target="#exampleModalCenter">
          <span class="badge badge-light badge-pill"  style="color: #1565C0">
            <i class="fas fa-trash pull-right"></i>
          </span>
      </a>
    </span>
      </li>
  </ul>
  <pagination-controls class="my-pagination" autoHide="true" previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}}" (pageChange)="p = $event"></pagination-controls>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{'Confirmacion' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-family: 'Poppins',sans-serif;color: red">{{'Esta seguro que desea eliminar el ejercicio' | translate}} {{ejercicioSeleccionado.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Cancelar' | translate}}</button>
          <button type="button" (click)="eliminarEjercicio()" class="btn btn-danger" data-dismiss="modal">{{'Eliminar' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner  
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#1565C0"
  loadingText="Cargando..."
  type="ball-pulse">
  </ngx-spinner>

</div>