<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" *ngIf="isLogged()">
      <div class="sidebar-header">
        <img src="assets/icon.png" height="60px" width="60px">
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>  
      </button>      
      
      <ul class="list-unstyled components">
        <li class="active">
            <h3>Menu</h3>
        </li>
        <!--
        <li style="font-family: 'Noto Sans', sans-serif">
            <p>{{'Inicio' | translate}} <i class="fas fa-home"></i></p>
        </li>
    -->
        <li>
            <a [routerLink]="" (click)="alumnos()"><p>{{'Alumnos' | translate}} <i class="fas fa-users"></i></p></a>
        </li>
        <li>
            <a [routerLink]="" (click)="rutinas()"><p>{{'Rutinas' | translate}} <i class="fas fa-calendar-alt"></i></p></a>
            <ul>
                <li><a [routerLink]="" (click)="nuevaRutina()"><p>{{'Nueva' | translate}} <i class="fas fa-calendar-plus"></i></p></a></li>
            </ul>
        </li>
        <li>
            <p> {{'Ejercicios' | translate}} <i class="fas fa-file-alt"></i></p>
            <ul>
                <li><a [routerLink]="" (click)="nuevoEjercicio()"><p>{{'Nuevo' | translate}} <i class="fas fa-plus-circle"></i> </p></a></li>
            </ul>
        </li>

        <li>
            <a [routerLink]="" (click)="logout()"><p>Logout <i class="fas fa-sign-out-alt"></i></p></a>
        </li>
        <li>
            <a [routerLink]="" (click)="cerrarSidebar()"><p>{{'Cerrar' | translate}} <i class="fas fa-times-circle"></i></p></a>
        </li>
      </ul>


    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-sm navbar-light  shadow" style="width:100%;">
        <div class="container-fluid">

          
                <ul class="navbar-nav" *ngIf="isLogged()">
                        <li class="nav-item">
                            <a [routerLink]="" (click)="cerrarSidebar()" id="sidebarCollapse"><span class="navbar-toggler-icon"></span></a>
                        </li>
                        
                </ul>


                 <span class="navbar-brand" style="width:100%;text-align: center;font-family: 'Poppins', sans-serif;  font-weight: 500;
                 ">
                    <a class="navbar-brand" href="">
                    <img src="/assets/icon.png" width="40" height="35" class="d-inline-block align-top" alt="">
                    GestionFit      
                    </a>      
                 </span>
                 <a (click)="changeLang('es')"><img src="assets/es.svg" height="20px" width="25px"></a>

                 <a (click)="changeLang('en')"><img src="assets/gb.svg" height="20px" width="25px"></a>
                 </div>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>





