page-nueva-medicion {

    .colName{
        border: 1px solid black;
        text-align: center;

    }

    .colValue{
        text-align: center;


    }

    .invalid {
        border-bottom: 1px solid #ea6153;
    }

}
