<div class="container" style="padding-top: 35px;">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="inputNombre">{{'Ingrese un nombre para la rutina' | translate}}</label>
            <input type="text" class="form-control" id="inputNombre" aria-describedby="errorNombre" formControlName="name" placeholder="{{'Nombre' | translate}}">
            <small id="errorNombre" *ngIf="form.controls.name.invalid" style="color:red">{{'La rutina debe tener un nombre' | translate}}</small>
        </div>
        <div class="form-group">
            <label for="inputTipo">{{'Seleccione un tipo'| translate}}</label>
            <select id="inputTipo" formControlName="type" class="form-control" aria-describedby="errorTipo">
                <option *ngFor="let typeR of rutinasType" [value]="typeR"> {{typeR | translate}} </option>
            </select>
            <small id="errorTipo" *ngIf="form.controls.type.invalid" style="color:red">{{'Debe seleccionar un tipo' | translate}}</small>
        </div>
    </form>
        <div class="form-group" >
            <h2>{{'Ejercicios agregados en rutina' | translate}}</h2>
            <div *ngIf="!tieneEjercicios" style="color:red">{{'La rutina no posee ningun ejercicio' | translate}}</div>
            <ul class="list-group" *ngIf="tieneEjercicios">
                <li class="list-group-item" *ngFor="let ex of form.controls.exercises.value; let i = index">
                        <div class="d-flex justify-content-between align-items-center">
                             {{ex.name}}  <a [routerLink]="" (click)="eliminarEjercicio(i)"><i class="fas fa-minus"></i> {{'Eliminar'|translate}}</a>
                        </div>
                            
                    </li>
            </ul>
        </div>
          <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="nuevoEjercicio" name="optionsEj" id="asignarEj" [value]="false" checked>
      <label class="form-check-label" for="asignarEj">
        {{'Asignar ejercicio generico' | translate}}
      </label>
      </div>
      <div class="form-check">
      <input class="form-check-input" type="radio"  [(ngModel)]="nuevoEjercicio" name="optionsEj" id="nuevoEj" [value]="true">
      <label class="form-check-label" for="nuevoEj">
        {{'Crear nuevo ejercicio personalizado' | translate}}
      </label>


      
    </div>
        <div class="form-group" *ngIf="!nuevoEjercicio">
            <h2>{{'Ejercicios' | translate}}</h2>
            <div class="form-inline md-form form-sm active-cyan-2">
                <input class="form-control form-control-sm mr-3 w-75" type="text" [(ngModel)]="searchText" placeholder="{{'Buscar' | translate}}" aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <br>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let exercise of exercises | rutinasEjerciciosFilter : searchText | paginate: { itemsPerPage: 5, currentPage: p };let i = index">
                    <div class="row">
                        <div class="col-md-6">{{exercise.name}}
                        </div>
                        <div class="col-md-3">
                            <span><a [routerLink]="" (click)="agregarEjercicio(exercise)"><i class="fas fa-plus"></i> {{'Agregar'|translate}}</a></span>
                        </div>
                        <div class="col-md-3">
                            <a data-toggle="collapse" href="#ejercicio{{i}}" role="button" aria-expanded="false">{{'Editar' | translate}}</a>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        {{exercise.description}}                        
                    </div>
                    <div class="collapse" id="ejercicio{{i}}">
                        <app-nuevo-ejercicio-asignar #edit [ejercicioAEditar]="exercise"></app-nuevo-ejercicio-asignar>
                        <button class="btn btn-primary" data-toggle="collapse" [disabled]="!isValidEx(i)" attr.data-target="#ejercicio{{i}}" (click)="agregarEjercicioEditado(i)" >Agregar</button>
                    </div>
                </li>
            </ul>
            <br>
            <pagination-controls class="my-pagination" autoHide="true" previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}}" (pageChange)="p = $event"></pagination-controls>
        </div>
        
        <div *ngIf="nuevoEjercicio">

            <h1 style="text-align: center">{{'Nuevo ejercicio personalizado' | translate}}</h1>
            <app-nuevo-ejercicio-asignar></app-nuevo-ejercicio-asignar>
            <button class="btn btn-primary" [disabled]="!ejercicioComponent.form.valid" (click)="agregarEjercicioNuevo()">{{'Agregar nuevo ejercicio' | translate}}</button>

        </div>
        <div class="alert alert-success alert-dismissible fade show" *ngIf="ejercicioAgregado" role="alert">
                <strong>{{'Ejercicio agregado' | translate}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div *ngIf=!isAsignar>
        
        <div class="alert alert-danger" role="alert" style="font-family: 'Poppins',sans-serif;font-size: 20px" *ngIf="errorArgumentos" >{{'Error al guardar la rutina. Compruebe que los datos sean correctos' | translate}}</div>
        
        <div *ngIf="isNew" class="flex" style="padding-top: 25px;">
            <button class="btn btn-success" [disabled]="!form.valid" (click)="guardarRutina()"> {{'Guardar' | translate}} </button>
            <button class="btn btn-danger" (click)="volverAtras()"> {{'Cancelar' | translate}} </button>
        </div>
        <div *ngIf="isEdit" class="flex" style="padding-top: 25px;">
              <button class="btn btn-success" [disabled]="!form.valid" (click)="actualizarRutina()"> {{'Actualizar' | translate}} </button>
              <button class="btn btn-danger" (click)="volverAtras()"> {{'Cancelar' | translate}} </button>
        </div> 
    </div>
        
    <ngx-spinner  
	bdColor="rgba(51,51,51,0.8)"
	size="medium"
	color="#1565C0"
	loadingText="Cargando..."
	type="ball-pulse">
	</ngx-spinner>
    
</div>
