<div class="container" style="padding-top: 35px;">
    <form [formGroup="form"]>
        <div class="form-group">
            <label class="form-control" for="inputNombre">Ingrese un nombre para la rutina</label>
            <input type="text" class="form-control" id="inputNombre" formControlName="name" placeholder="Nombre">
        </div>
        <div class="form-group">
            <select [(ngModel)]="newRoutine.type" class="form-control">
                <option *ngFor="let typeR of rutinasType" [value]="typeR"> {{typeR | translate}} </option>
            </select>
        </div>
        <div class="form-group" *ngFor="let exercise of exercises">
            <input id="checkboxEjercicios" type="checkbox" [(ngModel)]="exercise.checked"> {{exercise.name}}<br>
        </div>
    </form>
</div>
