<div class="form-group container" style="padding-top: 20px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group" style="font-family: 'Noto Sans', sans-serif">
      <label for="inputUser">Usuario</label>
      <input type="text" class="form-control" id="inputUser" placeholder="Ingresa tu usuario" [(ngModel)]="credential.email" name="username">
    </div>
    <div class="form-group" style="font-family: 'Noto Sans', sans-serif">
      <label for="InputPassword1">Password</label>
      <input type="password" class="form-control" id="InputPassword1" placeholder="Contraseña" [(ngModel)]="credential.password" name="password">
    </div>
    <button type="submit" class="btn btn-primary" style="font-family: 'Noto Sans', sans-serif">Ingresar</button>
  </form>
</div>
