<div class="container" style="font-family: 'Noto Sans', sans-serif;padding-top: 30px">
  <ul class="list-group">
    <li class="list-group-item">
      <img [src]="alumno.photo" style="max-height: 100px;max-width: 100px;">
    </li>
    <li class="list-group-item">
      <p>{{'Usuario' | translate}}: <strong>{{alumno.username}}</strong></p>	
    </li>
    <li class="list-group-item">
      <p>{{'Clases restantes' | translate}}: <strong>{{alumno.remainingLessons}}</strong></p>	
    </li>
    <li class="list-group-item">
      <p>{{'Vencimiento mes' | translate}}: <strong>{{alumno.lessonsExpires | date:'dd/MM/yyyy'}}</strong><span *ngIf="alumno.lessonsExpires == null" > <strong> {{'El usuario todavia no pago su primer mes ' | translate}} </strong></span></p>	
    </li>
    <li class="list-group-item">
      <p> Mail: <strong>{{alumno.mail}}</strong> </p>
    </li>
    <li class="list-group-item">
      <p> {{'Patologias' | translate}}: <strong> {{alumno.pathologies}} </strong><span *ngIf="alumno.pathologies == ''" > <strong> {{'No definido' | translate}} </strong></span></p>
    </li>
    <li class="list-group-item">
      <p> {{'Observaciones' | translate}}: <strong> {{alumno.observations}} </strong><span *ngIf="alumno.observations == ''" > <strong> {{'No definido' | translate}} </strong></span></p>
    </li>
    <li class="list-group-item">
      <p> {{'Objetivo' | translate}}: <strong>{{alumno.objective}}</strong> </p>
    </li>
    <li class="list-group-item">
      <p> {{'Cumpleaños' | translate}}: <strong>{{alumno.birthday | date:'dd/MM/yyyy'}}</strong> </p>
    </li>
    <li class="list-group-item">
      <p> {{'Telefono' | translate}}: <strong>{{alumno.telephone}}</strong> </p>
    </li>
    <li class="list-group-item">
      <p> {{'Edad' | translate}}: <strong>{{alumno.age}}</strong> </p>
    </li>
    <li class="list-group-item">
      <p> {{'Peso' | translate}}: <strong>{{alumno.weigth}}</strong> </p>
    </li>
    <li>
      <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Asistencia</button>
    </li>
  </ul>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{'Dias asistidos y % asistencia' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="display: block">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
                    [colors]="colors"></canvas>
          </div>
          <br>
          <div *ngIf="!tieneClases">{{'El alumno no asistio a ninguna clase' | translate}}</div>
          <ul class="list-group" *ngIf="tieneClases">
            <li class="list-group-item" *ngFor="let log of logs" style="font-size: 25px;font-family: Poppins, sans-serif;">
              {{log.day | date: 'dd/MM/yyyy'}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  

  <div style="padding-top: 25px;padding-bottom: 25px;">
    <button class="btn btn-primary" (click)="volver()">{{'Atras' | translate}}</button>
  </div>

  <ngx-spinner  
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#1565C0"
  loadingText="Cargando..."
  type="ball-pulse">
  </ngx-spinner>

</div>
