page-dashboard-alumno {

.slide-zoom{
    height:100%;
}

.colNames{
	background-color: #E3F2FD;
    border: 1px solid black;
}

.colValues{
	background-color: twitter;
    border: 1px solid black;
}

	.colTab{
		border-left: 1px solid #CFD8DC;
		border-right: 1px solid #CFD8DC;
		text-align: center;
		border-bottom: 1px solid #CFD8DC;

	}

}
