
<ion-content padding>
	<ion-grid>
  <ion-row>
    <ion-col>
      <p> Nombre: {{user.nameAndSurname}}</p>
    </ion-col>
    <ion-col>
      <p> Edad: {{user.age}} </p>
    </ion-col>
    <ion-col>
      <p> Telefono: {{user.telephone}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
  	<ion-col>
  		<p> Peso: {{user.weigth}} kg.</p>
  	</ion-col>
   	<ion-col>
   		<p> Objetivo: {{user.objective}}</p><p *ngIf="user.objective == ''" > No definido</p>
  	</ion-col>
   	<ion-col>
   		<p> Patologias: {{user.pathologies}}</p><p *ngIf="user.pathologies == ''" > No definido</p>
  	</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
	<ion-row>
		<ion-col><button ion-button >Ver rutinas</button></ion-col>
		<ion-col><button ion-button (click)="verTabla()">Ver mediciones</button></ion-col>
	</ion-row>
</ion-grid>

</ion-content>
