<ion-content style="margin-top: 30px;" padding>
		<ion-item>
			<p>{{'Nombre' | translate}}: <strong>{{rutina.name}}</strong></p>
		</ion-item>
		<ion-item>
			<p>{{'Fecha creacion' | translate}}: <strong>{{rutina.creationDate | date:'dd/MM/yyyy'}}</strong></p>
		</ion-item>
		<ion-item>
			<p>{{'Tipo' | translate}}: <strong>{{rutina.type | translate}}</strong></p>
		</ion-item>
		<ion-list>

			<ion-item *ngFor="let exercise of rutina.exercises">
					<p style="text-align: center;font-size: 12px;">{{'Nombre' | translate}} : {{exercise.name}}</p>
					<p style="text-align: center;font-size: 12px;">{{'Descripcion' | translate}} : {{exercise.description}}</p>
					<p style="text-align: center;font-size: 12px;">{{'Tipo' | translate}} : {{exercise.type | translate}}</p>
					<ion-checkbox *ngIf="enCurso()" [(ngModel)]="exercise.checked" (click)="checkFinalizo()"></ion-checkbox>
				
			</ion-item>
		</ion-list>
			<div style="padding-top: 20px;padding-bottom: 100px">
					<h2 *ngIf="terminada()">{{'Rutina finalizada' | translate}}!</h2>
					<button *ngIf="!enCurso()" ion-button (click)="comenzar()">{{'Comenzar' | translate}}</button>
					<button *ngIf="enCurso()" ion-button (click)="cancel()">{{'Cancelar' | translate}}</button>
					<button ion-button (click)="atras()">{{'Atras' | translate}}</button>
			</div>

</ion-content>
