<ion-content style="margin-top: 30px;" padding>
		<ion-item>
			<p>{{'Fecha creacion' | translate}}: <strong>{{rutina.creationDate | date:'dd/MM/yyyy'}}</strong></p>
		</ion-item>
		<ion-item>
			<p>{{'Tipo' | translate}}: <strong>{{rutina.type | translate}}</strong></p>
		</ion-item>
		<ion-grid>
			<ion-row>
				<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black">{{'Nombre' | translate}}</ion-col>
				<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black">{{'Descripcion' | translate}}</ion-col>
				<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black">{{'Tipo' | translate}}</ion-col>
				<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black"></ion-col>
			</ion-row>
			<ion-row *ngFor="let exercise of rutina.exercises">
					<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black">{{exercise.name}}</ion-col>
					<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black">{{exercise.description}}</ion-col>
					<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black">{{exercise.type | translate}}</ion-col>
					<ion-col style="text-align: center;font-size: 15px;border:0.5px solid black"><ion-checkbox *ngIf="!isInstructor() && enCurso()" [(ngModel)]="exercise.checked" (click)="checkFinalizo()"></ion-checkbox></ion-col>
				
			</ion-row>
		</ion-grid>
			<div style="padding-top: 20px">
					<h2 *ngIf="terminada()">Rutina finalizada!</h2>
					<button *ngIf="!enCurso()" ion-button (click)="comenzar()">Comenzar</button>
					<button *ngIf="enCurso()" ion-button (click)="cancel()">Cancelar</button>
					<button ion-button (click)="atras()">Atras</button>
			</div>

</ion-content>
