<div class="container" style="padding-top:40px !important">
  <h2 style="font-family: Poppins, sans-serif">Nueva Medicion</h2>

    <div class="table-responsive" style="text-align: center;font-family: Poppins, sans-serif">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">{{'Medida' | translate}}</th>
              <th scope="col">{{'Medicion' | translate}}</th>
              <th scope="col">{{'Altura' | translate}}</th>
            </tr>
          </thead> 
          <tbody> 
            <tr class="table-ligth" *ngFor="let medida of nombresMedidas;index as i">
              <th scope="row">{{medida | translate}}</th>
              <td [formGroup]="formMeasures">
                <input type="number" class="form-control" [formControlName]="i" [class.invalid]="formMeasures.controls[i].invalid && formMeasures.controls[i].dirty">
              </td>
              <td [formGroup]="formHeight">
                  <input type="number" class="form-control" [formControlName]="i" [class.invalid]="formHeight.controls[i].invalid && formHeight.controls[i].dirty">
                </td>
            </tr>
          </tbody>
        </table>
      </div>

<div style="padding-bottom: 40px;">
	<button class="btn btn-success" [class.buttonInvalid]="validForm()" [disabled]="validForm()" (click)="guardar()">Guardar</button>
  <button class="btn btn-primary" style="text-align: left;" (click)="atras()">Atras</button>
</div>

</div>
