<div class="container" style="font-family: 'Noto Sans', sans-serif;padding-top: 30px">
  <ul class="list-group">
    <li class="list-group-item">
      <p>{{'Nombre' | translate}}: <strong>{{ejercicio.name}}</strong></p>
    </li>
    <li class="list-group-item">
      <p>{{'Tipo' | translate}}: <strong>{{ejercicio.type | translate}}</strong></p>
    </li>
    <li class="list-group-item">
      <p>{{'Descripcion' | translate}}: <strong>{{ejercicio.description}}</strong></p>
    </li>
  </ul>
  <div style="padding-top: 25px;padding-bottom: 25px;">
    <button class="btn btn-secondary" (click)="volverAtras()">{{'Atras' | translate}}</button>
  </div>
</div>