<div class="container" style="padding-top: 35px;">
  <h1 style="text-align: center;font-family: Poppins, sans-serif;font-weight: 400;"><i class="fas fa-calendar-alt"></i> {{'Rutinas' | translate}}</h1>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let rutina of rutinas" style="font-size: 25px;font-family: Poppins, sans-serif;">
      {{rutina.name}}
      <span>
      <a [routerLink]="" (click)="infoRoutine(rutina.id)">
          <span class="badge badge-light badge-pill" style="color: #1565C0">
            <i class="fas fa-info pull-right"></i>
          </span>
      </a>
      <a [routerLink]="" (click)="editRoutine(rutina.id)">
          <span class="badge badge-light badge-pill"  style="color: #1565C0">
            <i class="far fa-edit pull-right"></i>
          </span>
      </a>
     <!-- (click)="openDeleteRoutineDialog(rutina.id)"-->
      <a [routerLink]="" (click)="seleccionar(rutina)" data-toggle="modal" data-target="#exampleModalCenter">
          <span class="badge badge-light badge-pill"  style="color: #1565C0">
            <i class="fas fa-trash pull-right"></i>
          </span>
        </a>
    </span>
      </li>
  </ul>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-family: 'Poppins',sans-serif;color: red">Esta seguro que desea eliminar la rutina {{rutinaSeleccionada.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" (click)="eliminarRutina()" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>


