<div class="container" style="padding-top: 35px;">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="form-group">
        <h1 style="text-align: left; font-family: Poppins, sans-serif; font-size:25px">Nombre ejercicio</h1>
        <input type="text" class="form-control" [(ngModel)]="newExercise.name">
      </div>
    </li>
    <li class="list-group-item">
        <h1 style="text-align: left; font-family: Poppins, sans-serif; font-size:25px">Tipo ejercicio</h1>
        <div class="styled-select rounded">
            <select [(ngModel)]="newExercise.type" class="form-control">
              <option *ngFor="let typeE of exercisesType" [value]="typeE"> {{typeE | translate}} </option>
            </select>
        </div>
    </li>
    <li class="list-group-item">
      <div class="form-group shadow-textarea">
        <h1 style="text-align: left; font-family: Poppins, sans-serif; font-size:25px">Descripcion ejercicio</h1>
        <textarea class="form-control z-depth-1" rows="4" placeholder="Escriba algo aqui..."></textarea>
      </div>
    </li>
  </ul>
  <div class="flex" style="padding-top: 25px;">
      <button class="btn btn-primary" (click)="guardarEjercicio()"> Guardar </button>
      <button class="btn btn-primary" (click)="volverAtras()"> Cancelar </button>
  </div> 
</div>