<div class="container" style="padding-top: 35px;">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="inputNombre">{{'Ingrese un nombre para el ejercicio' | translate}}</label>
      <input type="text" class="form-control" id="inputNombre" aria-describedby="errorNombre" formControlName="name" placeholder="{{'Nombre' | translate}}">
      <small id="errorNombre" *ngIf="form.controls.name.invalid" style="color:red">El ejercicio debe tener un nombre valido</small>
    </div>
    <div class="form-group">
      <select formControlName="type" class="form-control" aria-describedby="errorTipo">
          <option *ngFor="let typeE of exercisesType" [value]="typeE"> {{typeE | translate}} </option>
      </select>
      <small id="errorTipo" *ngIf="form.controls.type.invalid" style="color:red">Debe seleccionar un tipo</small>
    </div>
    <div class="form-group">
      <label for="inputDescription">{{'Ingrese una descripcion para el ejercicio' | translate}}</label>
      <textarea class="form-control" aria-describedby="errorDescription" id="inputDescription" formControlName="description" placeholder="Descripcion" rows="3"></textarea>
      <small id="errorDescription" *ngIf="form.controls.description.invalid" style="color: red">Requiere descripcion</small>
    </div>
  </form>
  <div *ngIf="!isAsignar">
  <div *ngIf="isNew" class="flex" style="padding-top: 25px;">
    <button class="btn btn-success" [disabled]="!form.valid" (click)="guardarEjercicio()"> {{'Guardar' | translate}} </button>
    <button class="btn btn-danger" (click)="volverAtras()"> {{'Cancelar' | translate}} </button>
  </div>
  <div *ngIf="isEdit" class="flex" style="padding-top: 25px;">
    <button class="btn btn-success" [disabled]="!form.valid" (click)="actualizarEjercicio()"> {{'Actualizar' | translate}} </button>
    <button class="btn btn-danger" (click)="volverAtras()"> {{'Cancelar' | translate}} </button>
  </div>
</div> 

  <ngx-spinner  
	bdColor="rgba(51,51,51,0.8)"
	size="medium"
	color="#1565C0"
	loadingText="Cargando..."
	type="ball-pulse">
	</ngx-spinner>

</div>



