page-nuevo-alumno {

    .slide-zoom{
        height:100%;
    }

    .slide{
        padding-top:20px;
        padding-bottom:20px;
    }

    p {
        font-family: 'Poppins', sans-serif;
	}
	
	ion-label {
        font-family: 'Poppins', sans-serif;
    }
    div{
        font-family: 'Poppins', sans-serif;
    }
    a{
        font-family: 'Poppins', sans-serif;
    }
    
    h1{
        font-family: 'Poppins', sans-serif;
    }

    h2{
        font-family: 'Poppins', sans-serif;
    }

    h3{
        font-family: 'Poppins', sans-serif;
    }

    
    
}
